<!DOCTYPE html>
<html class="dark" lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="view-transition" content="same-origin"/>

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body class="dark:bg-gray-900">

{% block movie_backdrop %}{% endblock %}

<div class="max-w-8xl m-auto mt-5">
    {{ include('_partials/header.html.twig') }}

    <div class="rounded  p-4 dark:text-gray-400">
        {% block body %}{% endblock %}
    </div>

    <footer class="my-5 mb-10 text-center dark:text-gray-700 font-mono">
        Build by <b>donchev</b>
        <div class="flex items-center justify-center gap-3 mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-language me-3">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 6.371c0 4.418 -2.239 6.629 -5 6.629"/>
                <path d="M4 6.371h7"/>
                <path d="M5 9c0 2.144 2.252 3.908 6 4"/>
                <path d="M12 20l4 -9l4 9"/>
                <path d="M19.1 18h-6.2"/>
                <path d="M6.694 3l.793 .582"/>
            </svg>
            <select name="lang" id="lang"
                    class="dark:bg-gray-700 rounded dark:text-gray-400 border-gray-700 shadow py-2"
                    data-controller="language-switch"
                    data-action="change->language-switch#change"
                    data-language-switch-current-locale-value="{{ app.request.locale }}"
                    data-language-switch-en-value="{{ path(app.current_route, app.current_route_parameters|merge({'_locale': 'en'})) }}"
                    data-language-switch-bg-value="{{ path(app.current_route, app.current_route_parameters|merge({'_locale': 'bg'})) }}">
                <option value="bg" class="dark:bg-gray-800">bg</option>
                <option value="en" class="dark:bg-gray-800">en</option>
            </select>
        </div>
    </footer>
</div>
</body>
</html>
